<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.user.username %></td>
        <td><%= topic.page.name %></td>
        <td><%= link_to 'Show', [topic.page, topic] %></td>
        <td><%= link_to 'Edit', edit_page_topic_path(topic.page, topic) %></td>
        <td><%= link_to 'Destroy', [topic.page, topic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_page_topic_path %>
