<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user.username %>
</p>

<p>
  <strong>Page:</strong>
  <%= @topic.page.name %>
</p>

<%= link_to 'Edit', edit_page_topic_path(@page, @topic) %> |
<%= link_to 'Back', page_topics_path %>
