<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @page.user.username %>
</p>

<% @page.topics.each do |topic| %>
    <%= link_to topic.title, [@page, topic] %><br>
<% end %>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
